body {
  background-color: #e5e5e5;
}

main {
  max-width: 378px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.short-about {
  padding: 20px 20px;
  height: 630px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 120px 20px;
}

.logo {
  font-family: 'Poppins', sans-serif;
}

.heading {
  background-color: #fff;
  height: 650px;
  border-radius: 0 0 0 50px;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.first-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #172b4d;
  margin: auto auto;
}

.first-paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #344563;
  margin: auto auto;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #7f8cff;
}

.first-socials {
  width: 150px;
  height: 20pxpx;
  margin-top: 10px;
  color: #505f79;
}

ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  width: 130px;
  color: #505f79;
  padding-left: 0;
}

li {
  color: #505f79;
}

.eli {
  position: absolute;
  top: 110px;
}

.elii {
  position: absolute;
  top: 160px;
  right: -10px;
}

.eliii {
  position: absolute;
  top: 127px;
  right: -10px;
}

.eliv {
  position: absolute;
  top: 140px;
  right: 150px;
}

.elv {
  position: absolute;
  top: 149px;
  right: 159px;
  color: #cbcdff;
}

.elvi {
  position: absolute;
  top: 100px;
  right: 90px;
}

.elvii {
  position: absolute;
  top: 620px;
  right: 110px;
}

.elviii {
  position: absolute;
  top: 540px;
  right: 50px;
}

.elviv {
  position: absolute;
  top: 550px;
  right: 50px;
}